<footer>
  <p>
    <nav>
      {{ range .Site.Menus.main }}
      <a href="{{ .URL }}">
      {{ $text := print .Name | safeHTML}}
      {{ $text }}
      </a> &#183;
      {{ end }}
      
      <span id="copy-besar">
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a>
      </span>
      <span id="copy-kecil">
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a>
      </span>
    </nav>
  </p>
</footer>