<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Website Anugrah Ramadhan" property="og:description">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@dekadensiotak">
  <meta name="twitter:creator" content="@dekadensiotak">
  <meta property="og:url" content="https://anugrahra.space">
  <meta property="og:title" content="▲ anugrahra.space ▲">
  <meta property="og:description" content="Website Anugrah Ramadhan">
  <meta property="og:image" content="https://i.ibb.co/HXZdkkK/photo-2022-05-07-00-49-03.jpg">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  {{ if ne .IsHome true}}
  <link rel="icon" type="image/x-icon" href="/icon/favicon.ico">
  {{ end }}
  {{ $title := print .Title " | " .Site.Title }}
  {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
  <title>{{ $title }}</title>
  {{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}
  {{ template "_internal/google_analytics.html" . }}
</head>