{{ define "main" }}
  <section id="introduction">
    <h1 id="halo">Halo!</h1>
    <p>Saya Anugrah Ramadhan, tukang ledeng yang belajar koding dan menulis banyak hal.</p>
    <p>Ini adalah situs dimana kamu bisa lihat beberapa karya yang pernah/sedang saya buat. Silakan bermain-main di &quot;museum&quot; pribadi saya. Siapa tahu kamu dapat sesuatu yang menarik.</p>
  </section>
  <br>
  <section id="links">
    <h3>Yuk, mulai lihat-lihat 👇</h3>
    <nav>
      {{ range .Site.Menus.landing }}
      <ul>
        <li class="landing-nav">
          <a href="{{ .URL }}">
          {{ if .Pre }}
          {{ $icon := printf "<i data-feather=\"%s\"></i> " .Pre | safeHTML }}
          {{ $icon }}
          {{ end }}
          {{ $text := print .Name | safeHTML }}
          {{ $text }}
          </a>
        </li>
      </ul>
      {{ end }}
    </nav>
  </section>
{{ end }}