{{ define "main" }}
<section id="introduction">
  <h1>Halo, Saya Anugrah.</h1>
  <p id="halo">Seorang karyawan yang senang menulis</p>
</section>
<section id="links">
  <nav>
    {{ range .Site.Menus.landing }}
    <ul>
      <li class="landing-nav">
        <mark>
          <a href="{{ .URL }}">
            {{ if .Pre }}
            {{ $icon := printf "<i data-feather=\"%s\"></i> " .Pre | safeHTML }}
            {{ $icon }}
            {{ end }}
            {{ $text := print .Name | safeHTML }}
            {{ $text }}
          </a>
        </mark>
      </li>
    </ul>
    {{ end }}
  </nav>
</section>
<section id="tulisan-pilihan">
  <h2 style="margin-bottom: 1%;">Catatan pilihan, <i>for you</i></h2>
  <nav>
    {{ range .Site.Menus.tulisan }}
    <ul>
      <li class="landing-nav">
        <a href="{{ .URL }}">
          {{ if .Pre }}
          {{ $icon := printf "<i data-feather=\"%s\"></i> " .Pre | safeHTML }}
          {{ $icon }}
          {{ end }}
          {{ $text := print .Name | safeHTML }}
          {{ $text }}
        </a>
      </li>
    </ul>
    {{ end }}
  </nav>
</section>
<br>
<section id="tulisan-review">
  <h2 style="margin-bottom: 1%;">Ulasan, <i>buku atau film</i></h2>
  <nav>
    {{ range .Site.Menus.review }}
    <ul>
      <li class="landing-nav">
        <a href="{{ .URL }}">
          {{ if .Pre }}
          {{ $icon := printf "<i data-feather=\"%s\"></i> " .Pre | safeHTML }}
          {{ $icon }}
          {{ end }}
          {{ $text := print .Name | safeHTML }}
          {{ $text }}
        </a>
      </li>
    </ul>
    {{ end }}
  </nav>
</section>
<!-- <section id="video-pilihan">
    <h2 style="margin-bottom: 1%;">May my rap song moves you</h2>
    <iframe height="315" src="https://www.youtube.com/embed/MV-jziWnQaQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </section> -->
{{ end }}