{{ define "main" }}
  <section id="introduction">
    <h1 id="halo">Anugrah Ramadhan</h1>
    <p id="underhalo">32 year old plumber based in Cimahi 🇮🇩</p>
  </section>
  <br>
  <section id="links">
    <nav>
      {{ range .Site.Menus.landing }}
      <ul>
        <li class="landing-nav">
          <a href="{{ .URL }}">
          {{ if .Pre }}
          {{ $icon := printf "<i data-feather=\"%s\"></i> " .Pre | safeHTML }}
          {{ $icon }}
          {{ end }}
          {{ $text := print .Name | safeHTML }}
          {{ $text }}
          </a>
        </li>
      </ul>
      {{ end }}
    </nav>
  </section>
{{ end }}