@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

* {
  margin: 0;
  padding: 0;
  text-align: left;
}

body {
  font-family: 'Nunito', sans-serif;
  text-align: justify;
}

body #podcastlogo {
  width: 50%;
  height: auto;
}

header {
  margin: 2% 0 2% 0;
}

header h4#main-title {
  text-align: right;
  font-family: 'Gochi Hand', cursive;
}

header a:link {
  text-decoration: none;
  color: black;
}

header a:hover {
  text-decoration: none;
  color: black;
}

header a:visited {
  text-decoration: none;
  color: black;
}

.container {
  margin: 1% 20% 0 20%;
}

main {
  margin-bottom: 2%;
}

a.title:link,
div#parts a:link {
  text-decoration: none;
  color: black;
}

a.title:hover,
div#parts a:hover {
  background-color: yellow;
}

a.title:visited,
div#parts a {
  color: black;
}

section#introduction p {
  font-size: 20px;
}

section#introduction {
  margin-top: 1%;
}

section#introduction h1 {
  text-align: left;
}

section#introduction p#halo {
  margin-top: 1%;
  text-align: left;
}

section#links {
  margin-top: 1%;
  margin-bottom: 3%;
}

section#links ul li,
section#tulisan-pilihan ul li,
section#tulisan-review ul li {
  list-style: none;
}

section#links a:link,
section#tulisan-pilihan a:link,
section#tulisan-review a:link {
  font-size: 20px;
  text-decoration: none;
  color: black;
}

section#links a:hover,
section#tulisan-pilihan a:hover,
section#tulisan-review a:hover {
  text-decoration: underline;
}

section#links a:visited,
section#tulisan-pilihan a:visited,
section#tulisan-review a:visited {
  color: black;
}

section#video-pilihan iframe {
  width: 80%;
}

li.landing-nav {
  margin-bottom: 1%;
}

p {
  margin: 0 0 2% 0;
}

div#parts {
  padding-top: 10px;
  border-top: 1px dashed grey;
}

div#parts a:link {
  text-decoration: none;
  color: black;
}

h1#title-catatan {
  text-align: left;
}

div#catatan {
  font-size: 20px;
  line-height: 33px;
  text-align: left;
}

div#catatan img {
  width: 100%;
  height: auto;
}

footer a:link {
  text-decoration: none;
  color: black;
}

footer a:hover {
  text-decoration: underline;
}

footer a:visited {
  color: black;
}

footer span#copy-kecil {
  display: none;
}

blockquote {
  margin: 2.5rem 0;
  padding-left: 1.5rem;
  border-left: 4px solid #e6e6e6;
  color: #555;
  font-style: italic;
  font-size: 1.1rem;
  line-height: 1.6;
  max-width: 90%;
}

blockquote p {
  margin: 0;
}

@media screen and (max-width: 880px) {

  .container {
    margin: 1% 5% 0 5%;
  }

  .landing-nav a {
    font-size: 16px !important;
    line-height: 1.5 !important;

    display: block;
    padding: 0.9rem 1.2rem;
    border-radius: 10px;
    text-decoration: none;
    background: #FDFF00; /* ganti sesuai tema */
    margin-bottom: 0.8rem;
  }

  div#catatan p {
    margin-bottom: 5%;
  }

  section#video-pilihan iframe {
    width: 100%;
    height: auto;
  }

  footer span#copy-besar {
    display: none;
  }

  footer span#copy-kecil {
    display: block;
  }

  body #podcastlogo {
    width: 80%;
    height: auto;
  }

  div#catatan {
  font-size: 16px;
  line-height: 1.5;
  }

  blockquote {
    font-size: 1.05rem;
  }
}

/* END OF KALAU KECIL */